<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>  

<body>
  <%- include ('partials/bannerPrincipal.ejs') %> 
  <div class="container">
    <hr>
    <div class="card">
        <div class="card-header bg-noticia" ">
            <h2><%= article.title %> </h2>
            <div style="height: auto";><img src="<%= article.image_url %>" class="img-fluid rounded mx-auto d-block" alt="..."></div>
        </div>
        <div class="card-body">
            <h5><%= article.caption %> </h5> 
            <%- article.body  %> 
        </div>
    </div>
</div>
<div class="container mt-2" ><h5 class="textblue">Leitura recomendada para você</h5></div>
<div class="container mt-2">
        <% news.forEach(news => { %> 
            <div class="card mb-1" >
            <a href="/<%= news.slug %>">
              <div class="row g-0">
                <div class="card col-md-2" >
                  <img src="<%= news.image_url %> " alt="..." height="180px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= news.title %> </h5>
                    <p class="card-text"><%= news.caption %> </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </a>
           </div>
        <%  }) %> 
    </div>
  

</div>


</body>

<%- include ('partials/footer.ejs') %> 