<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>Várzea Online</title>
</head>
<%- include ('../../partials/navbarAdmin.ejs') %>  
<div class="container">
    <hr>
    <h2>Noticias</h2>
    <a class="btn btn-success" href="/noticias/incluir">Criar Notícia</a>
    <hr>
    
    <table class="table table-bordered">
        <thead>
            
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Views</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% news.forEach(news => { %>
            <tr>
                <td><%= news.id %> </td>
                <td><%= news.title %> </td>
                <td><%= news.views %> </td>
                <td><%= news.category.title %></td>
                <td>
                    <a href="/noticias/editar/<%= news.id  %> " class="btn btn-warning">Editar</a>
                    <form method="POST" action="/noticias/deletar/<%= news.id%> " style="display: inline;" 
                    onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%= news.id%>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
            <% })  %> 
        </tbody>

    </table>
</div>


<%- include ('../../partials/footer.ejs') %> 

<script>
    function confirmDelete(event,form){
        event.preventDefault()
        var decision = confirm("Você quer deletar essa notícia?")
        if(decision){
            form.submit()
        }
    }
</script>